:root {
  --primary-color: orange;
  --restaurant-pic-width: 200px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  max-width: 1440px;
  margin: auto;
  background-color: #e8e8e8;
}

main {
  min-height: 80%;
  height: fit-content;
  padding: 15px 20px;
  box-shadow: 0 -4px 6px -6px grey;
  background-color: white;
  font-family: 'Kelly Slab', cursive;
}

/* Header of the page */
header {
  display: grid;
  grid-template-columns: auto 250px 100px;
  align-items: end;
  grid-column-gap: 20px;
  background-color: white;
  margin: 30px auto;
  padding: 10px 20px;
  box-shadow: 0 6px 6px -6px black;
}

header .title {
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Sigmar One', cursive;
}

header .nav-item a {
  font-family: 'Sigmar One', cursive;
}

header .nav-item:hover a {
  color: #9a681f;
}

header .active a {
  color: #9a681f;
}

@media only screen and (max-width: 575px) {
  header {
    display: block;
  }

  header .nav-item {
    text-align: end;
  }
}

/* About page */
.about {
  height: 80%;
  display: grid;
  grid-template-rows: auto auto 120px;
  grid-row-gap: 30px;
  background-image: url(/static/awesome.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}

.about .introduction {
  text-decoration: underline;
  padding-left: 16px;
}

.about .header {
  line-height: 240%;
  font-size: large;
}

/* List page */
.list-title {
  font-family: 'Sigmar One', cursive;
  font-size: x-large;
  text-align: center;
}

.takeaway-list li.restaurant-item {
  border-image-source: linear-gradient(to right, black, var(--primary-color)) !important;
  border-image-slice: 60 30 !important;
  border: 3px solid;
  border-radius: 8px;
  margin: 30px;
  line-height: 160%;
  height: 200px;

  display: grid;
  grid-template-columns: auto var(--restaurant-pic-width);

  background-repeat: no-repeat;
  background-position-x: right;
  background-size: var(--restaurant-pic-width) auto;
}

.takeaway-list .restaurant-item-description {
  padding: 10px 20px;
}

.takeaway-list .restaurant-item-image {
  height: 100%;
  width: var(--restaurant-pic-width);
  background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.9) 100%);
}

.takeaway-list .restaurant-item-description-title {
  font-size: x-large;
  font-weight: bolder;
  margin: 10px 0px;
}

.restaurant-item-description button {
  margin-left: 0px;
}

@media only screen and (max-width: 500px) {
  main {
    padding: 10px;
  }

  .takeaway-list li.restaurant-item {
    display: block;
    overflow: hidden;
    margin: 10px 0px;
  }

  .takeaway-list .restaurant-item-description {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, white, transparent);
  }

  .takeaway-list .restaurant-item-image {
    display: none;
  }
}

/* Mainpage */
.map-takeaway {
  max-width: 840px;
  width: 90%;
  display: flex;
  margin: auto;
  column-gap: 10px;
}

.map-takeaway div {
  flex: 1;
}

.takeaway-beside-map {
  border-image-source: linear-gradient(to right, black, var(--primary-color)) !important;
  border-image-slice: 60 30 !important;
  border: 3px solid;
  border-radius: 8px;
  border: 3px solid gray;
  padding: 10px;

  height: 514px;
  overflow-y: hidden;
}

.takeaway-display-whole-list {
  height: 100%;
  position: relative;
  top: calc(-514px*var(--index));

  animation-name: changeInfo;
  animation-duration: 0s;
  animation-delay: var(--delay);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes changeInfo {
  0% {top: calc(-514px*var(--index));}
  100% {top: calc(-514px*var(--index) - 514px);}
}

.takeaway-display-item {
  height: 100%;
}

.takeaway-display-item img {
  height: 200px;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.takeaway-display-item-content {
  width: fit-content;
  margin: 0 auto;
  border-top: 1px solid gray;
}

.takeaway-display-item-title {
  font-size: x-large;
  font-weight: bolder;
  margin: 10px 0px;
}

/* Something */
.no-style {
  text-decoration: none;
  color: black;
}

.checked-star {
  color: var(--primary-color);
}

#map {
  width: 410px;
  height: 540px;
}

button {
  display: block;
  width: 100px;
  margin: 15px auto;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: large;
  font-weight: bold;
  color: var(--primary-color);
  background-color: black;
}

button:hover {
  color: black;
  background-color: var(--primary-color);
}

/* Not found */
.img-text {
  display: grid;
  grid-template-columns: 250px 300px;
  grid-column-gap: 20px;
  margin: auto;
  width: fit-content;
  min-height: 70%;
  height: fit-content;
  align-items: center;
}

.img-text .text {
  font-size: larger;
  line-height: 240%;
}

@media only screen and (max-width: 575px) {
  .img-text {
    display: block;
    background-image: url(/static/excite.jpg);
    background-repeat: no-repeat;
  }

  .img-text .image {
    display: none;
  }

  .img-text .text {
    background-color: rgba(255,255,255,0.7);
  }
}
